/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;/*Resetear los rems => 62.5% equivalga a 10 px  de 16px, del tamaño original*/

}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    width: 100%;
    text-align: center;

}
/*lo de arriba tienes que ir si o si, siempre*/
a{
    text-decoration:none;
    color: black;
}
/*HEADER*/
.BGray{
    background-color: #d4dff0;
}
header{
    height: auto;
}
.header{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5rem;
}
.diezp{
    width: 10%;
}
.diezp img{
    width: 100%;
    height: 8rem;
}
.setenop{
    width: 78%;
}
.lista{
    display: flex;
    flex-direction: row;
    margin-left: 13rem;
    height: 100%;
    padding-top: 2.5rem;
}
.lista a{
    margin-right: 2rem;
}
.trecep{
    width: 12%;
}
.trecep div{
    background-color: black;
    color: white;
    width: 100%;
    height: 4rem;
    padding-top: 0.2rem;
    margin-top: 1.5rem;
    border-radius: 3rem;
}
.trecep a{
    color: white;
    font-size: 1.8rem;
}
.noventa{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*main*/
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.wfive{
    width: 50%;
}
h1{
    font-size: 13rem;
    font-weight: 900;
}
h2{
    margin-top: -13rem;
    font-size: 4rem;
    font-weight: 500;
}
.wfive a{
    background-image: linear-gradient(to right, #9747ff, #fa0bc0, #ff3b82, #ff7956, #ffab47);
    font-size: 2rem;
    font-weight: 400;
    padding: 1.5rem 2rem;
    border-radius: 3rem;
    margin-top: 3rem;
}

/**/
/**/
/**/
/**/
/**/
/*FOOTER*/
.footer{
    padding-top: 24rem;
    margin-top: -18rem;
    padding-bottom: 5rem;
}
.fheader{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-top: solid 2px rgb(61, 61, 61);
    
}
.mover{
    margin-left: 25%;
    margin-top: 3rem;
}



/*END*/
.end{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
}
.end p{
    width: 40%;
    text-align: initial;
    font-weight: 500;
}
.Redes{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-left: 60%;
}
.Redes a{
    width: 6rem;
    height: 6rem;
    background-image: linear-gradient(to right, #9747ff, #fa0bc0, #ff3b82, #ff7956, #ffab47);
    border-radius: 3rem;
}
.Redes i{
    font-size: 4rem;
    background-color: #d4dff0;
    border-radius: 3rem;
    padding: 0.7rem;
    margin: 0.3rem;
    width: 90%;
}
@media(max-width: 480px){
    .nav-icon {
        display: block;
        cursor: pointer;
        font-size: 3rem;
        margin-left: 80%;
    }
    
    .nav-content {
        position: relative;
        top: 50px;
        left: 0;
        width: 100%;
        display: none;
    }
    
    .nav-content.active {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-left: -10%;
        font-size: 5rem;
        font-weight: 800;
        margin-top: -5rem;
        margin-bottom: 8rem;
    }

    /*header*/
    .header{
        padding-top: 4rem;
    }
    .diezp {
        width: 25%;
    }
    .trecep{
        display: none;
    }
    .lista a{
        background-image: linear-gradient(to right, #9747ff, #fa0bc0, #ff3b82, #ff7956, #ffab47);
        /* -webkit-background-clip: text; */
        /* color: transparent; */
        border-radius: 1rem;
        margin-bottom: 2.5rem;
    }
    /*FOOTER*/
    .footer{
        padding-bottom: 12rem;
    }
    .fheader{
        display: flex;
        flex-direction: column;
    }
    .mover{
        margin-left: 1rem;
    }
    .lista{
        margin-left: 0;
    }
    .mover .lista a{
        background-image: none;
        font-size: 2rem;
    }
    .end{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .end p{
        width: 100%;
        text-align: initial;
        font-weight: 300;
        font-size: 2rem;
    }
    .Redes{
        width: 50%;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
        padding-left: 0;
    }
    .Redes a:nth-child(2){
        margin-left: 1rem;
    }
    .Redes a:nth-child(3){
        margin-left: 1rem;
    }
}